.shopping-screen {
  height: 130vh;
}

.shopping__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.shopping__list--column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopping__list--column i {
  margin-bottom: 8px;
  transition: transform 0.3s ease-in, color 0.3s ease-in;
}

.shopping__list--column i:hover {
  transform: scale(1.2);
  color: var(--sky);
}

.shopping__list--column span {
  font-size: 12px;
}

.shopping-ad {
  background-color: rgb(174, 174, 174);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin: 10px 0px;
}

.shopping-ad__img {
  height: 80px;
  width: 100px;
  border: 3px solid white;
  border-radius: 20px;
}

.shopping-ad__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-ad__title,
.shopping-ad__text,
.shopping-ad__sale {
  font-weight: 600;
}

.shopping-ad__title {
  background-color: rgba(227, 234, 207, 0.493);
  padding: 6px 13px;
  font-size: 13px;
  border-radius: 15px;
}

.shopping-ad__text,
.shopping-ad__sale {
  color: white;
}

.shopping-ad__text {
  font-size: 20px;
  padding: 10px 0px;
}

.shopping-ad__sale {
  font-size: 12px;
}

.shopping-search__content {
  background-color: var(--pink);
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px;
}

.shopping-search__content i {
  margin: 0px 7px;
}

.shopping-search__content input {
  background-color: var(--pink);
  border: none;
  width: 80%;
}

.shopping-search__content input::placeholder {
  opacity: 0.7;
}

.shopping-search__content input:focus {
  outline: none;
}

.shopping-suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 30px;
}

.shopping-suggestion__column {
  font-size: 14px;
  opacity: 0.7;
}

.shopping-suggestion__title {
  border: 1px solid rgb(85, 170, 204);
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: 600;
}

.shopping-suggestion__title:hover {
  color: rgb(85, 170, 204);
}

.shopping-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}

.shopping-title h1 {
  font-size: 25px;
  font-weight: 900;
}

.shopping-title__more {
  font-size: 15px;
  opacity: 0.7;
}

.shopping-product__box,
.shopping-product__img {
  height: 140px;
  width: 180px;
}

.shopping-product__box {
  border: 3px solid var(--pink);
  border-radius: 10%;
  overflow: hidden;
}

.shopping-product__img {
  transition: transform 0.5s ease-in;
}

.shopping-product__img:hover {
  transform: scale(1.2);
}

.shopping-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.shopping-product__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 13px 0px;
}

.shopping-product__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shopping-product__text--title {
  margin: 5px 0px;
  font-size: 14px;
}

.shopping-product__text--price {
  font-weight: 900;
}
